@font-face {
   font-family: "NotoSerif-Bold";
   font-display: swap;
   src: url("../fonts/NotoSerif-Bold.woff2") format("woff2"),
      url("../fonts/NotoSerif-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "NotoSerif-Regular";
   font-display: swap;
   src: url("../fonts/NotoSerif-Regular.woff2") format("woff2"),
      url("../fonts/NotoSerif-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Philosopher-Bold";
   font-display: swap;
   src: url("../fonts/Philosopher-Bold.woff2") format("woff2"),
      url("../fonts/Philosopher-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Philosopher-Regular";
   font-display: swap;
   src: url("../fonts/Philosopher-Regular.woff2") format("woff2"),
      url("../fonts/Philosopher-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
}
